.up-div{
    width: 50%;
    background-color:whitesmoke;
    padding: 3%;
    border-radius: 4px;
    margin: 2%;
    margin-left: 25%;
    box-shadow: 3px 3px 5px lightslategrey;
}

.up-btn{
    background-color: black;
    color: white;
    padding: 1%;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
}